.doit.db*
.DS_Store
.~
*~
\#*\#
.\#*
*.o
*.ali
.obnc
*.dSYM

c/not_forever
c/trampoline
c/trampoline_forever

common-lisp/not_forever.o
common-lisp/not_forever
common-lisp/not_forever.fas

oberon-2/NotForever
oberon-2/TrampolineForever
oberon-2/Trampoline
oberon-2/*.c
